/* Navbar */
nav 	{
  	height: 65px;
	}

/* Yellow banner stripe */
#back 	{
  	padding-top: 40px;
  	padding-bottom: 20px;
  	margin-bottom: 30px;
  	text-align: center;
  	color: #000;
  	background-color: yellow;
  	background-size: cover;
	}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  bottom: 0;
}

.row {
  margin: 50px auto 50px auto;
  padding: 50px 30px 50px 30px;
  text-align: center;
  max-width: 100%;
}

/* Photo of the 'About' section */
.row .col-md-4 .rounded-circle {
  margin: 80px auto 1px auto;
}

.row .col-md-8 h1 {
  text-align: center;
  font-family: "Sans Serif";
  font-size: 40px;
  color: black;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto 40px auto;
}

/* About section paragraph */
 .featurette .col-md-8 p {
  margin: 0 auto 40px auto;
  max-width: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.container .row {
  margin: 30px auto 0px auto;
  }

/* Navbar 'Search' button link */
.collapse .form-inline .btn a {
  text-decoration: none; 
} 

.container .row .col-lg-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  text-align: center;
}
 
.container .col-lg-4 h2 {
    margin-top: 15px;
    font-weight: normal;
    text-align: center;
  }

.container h3 {
  font-weight: normal;
  text-align: center;
  margin: 100px auto 10px auto;
}

.container .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
} 

/* RESPONSIVE CSS */

@media (max-width: 768px) {
  /* responsive menu list */
 .collapse ul li {
    background-color: #000;
  }
  .row .col-md-4 {
  margin: 80px auto 1px auto;
}
  
}

@media (min-width: 640px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.navbar.collapse.navbar-nav ul {
	background-color: blue;
}

/* Social media icons START */

.fa:hover {
    opacity: 0.5;
}

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
	margin: 0;
	padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
  	height: 38px;
	color: #FFF;
	background-color: #000;
	padding-top: 12px;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

.socialbtns .fa:hover {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

/* Social media icons END */

/* 'Contact' block start */

.contact {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  width: 100%;
  height: 400px;
}

.contact h2 {
  margin: 100px auto 100px auto;
}

.contact .socialbtns h5 {
  margin: 100px auto 5px auto;
}

.contact .socialbtns h5 a {
  color: #000;
}

/* 'Contact' block end */

.page-footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
